.card {
  width: 21em;
  height: 20.5em;
  padding: 1%;
}

.card-number {
  font-family: "inter", sans-serif;
  font-size: 2.75em;
  font-weight: 750;
  margin-bottom: 0.3em;
  color: #e6a15c;
}

.card-title {
  font-size: 1.4em;
  font-weight: 700;
  color: #2d3748;
}

.card-text {
  font-size: 1em;
  color: #6b7280;
  line-height: 1.7em;
}
