.navbar {
  background: #f5f5f5;
  z-index: 0;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
